.header{
    display: flex;
    justify-content: space-between;
}

.main-block{
    display: flex;
}

.left-menu{
    width: 200px;
}

.content{
    flex: 1;
}

.hot-key-block .header{
    font-size: 30px;
    display: flex;
    justify-content: center;
}

.hot-key {
    color: blue;
    background-color: aqua;
}

.fishes{
    display: flex;
    flex-wrap: wrap;
}

.fish{
    border: 5px red solid;
    border-radius: 26px;
    padding: 4px;
    margin: 4px;
}

.fish .header{
    text-align: center;
    display: block;
    background-color: brown;
}

img{
    width: 100px;
}


.buttons{
    display: flex;
    justify-content: space-between;
}